/**
make class for 100 vh
*/
.full-height {
  height: 100vh;
}

.messages-container {
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

footer {
  position: sticky;
  bottom: 0;
  height: 5rem;
  .action-container {
    display: inline-flex;
    height: 50%;
    justify-content: center;    
    input {      
      width: 50vw;
      border-radius: 8px;
    }
    button {
      padding: .5rem;
      text-align: center;
      margin-left: .5rem;
      border-radius: 8px;
    }
  }
}